<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Hub</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body class="mainbody">
    

    <header>
        <div class="logo">
            <h1><!-- <img src="./images/logo.jpg" width="50px" height="100px" alt="Recipe Hub Logo"> -->Recipe Hub</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/index" class="active">Home</a></li>
                <li class="dropdown">
                    <a href="/categories" >Recipes</a>
                    <div class="dropdown-content">
                        <a href="/recipe">Recipes</a>
                        <a href="/favourites">Favorites</a>
                        <a href="/tutorials">Cooking Tutorials</a>
                    </div>
                </li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/categories">Categories</a></li>
                <li><a href="/userreg">Login</a></li>
            </ul>
        </nav>
    </header>
    <div class="slider">
        <img id="img-1" src="/images/asaladas.jpg" alt="avocado salad"/>
        
        <div class="caption">
            <h2>Bringing Flavor to Your Kitchen </h2>
            <p>Healthy and delicious recipes for you.</p>
            <a href="/userreg" class="btn">View Recipe</a>
        </div>
        <img id="img-2" src="/images/pizza.jpg" alt="pizza"/>
        <div class="caption">
            <h2>Bringing Flavor to Your Kitchen</h2>
            <p>Healthy and delicious recipes for you.</p>
            <a href="/userreg"  class="btn">View Recipe</a>
        </div>
        
        <img id="img-3" src="/images/avocado2.jpg "alt="avocado">
        <div class="caption">
            <h2>Bringing Flavor to Your Kitchen</h2>
            <p>Healthy and delicious recipes for you.</p>
            <a href="/userreg" class="btn">View Recipe</a>
        </div>
        <img id="img-4" src="/images/pancake.jpg" alt="pudding"/>
        <div class="caption">
            <h2>Bringing Flavor to Your Kitchen</h2>
            <p>Healthy and delicious recipes for you.</p>
            <a href="/userreg"  class="btn">View Recipe</a>
        </div>
        <img id="img-5" src="/images/pudding.jpg" alt="pudding"/>
        <div class="caption">
            <h2>Bringing Flavor to Your Kitchen</h2>
            <p>Healthy and delicious recipes for you.</p>
            <a href="/userreg"  class="btn">View Recipe</a>
        </div>
      </div>
      <div class="navigation-button">
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        
    </div>
    <!-- 
    Categories Section -->
    <section class="categories">
        <h2>Popular Categories</h2>
        <div class="category-list">
            <a href="/userreg"  class="category">
                <img src="/images/salad.png" alt="Salad">
                <h3>Salads</h3>
            </a>
            <a href="/userreg"  class="category">
                <img src="/images/chillisoup.png" alt="Chilli Soup">
                <h3>Soups</h3>
            </a>
            <a href="/userreg"  class="category">
                <img src="/images/breads.jpg" alt="Baked Items">
                <h3>Baked Items</h3>
            </a>
            <a href="/userreg"  class="category">
                <img src="/images/piazza.jpg" alt="Fast Food">
                <h3>Pizza</h3>
            </a>
           
        </div>
    </section>
    
    

     <!-- Latest Collection Section -->
<section class="latest-collection">
    <h2>Latest Collection</h2>
    <div class="card-container">
        <div class="card">
            <img src="/images/biryani.jpg" alt="Salad">
            <div class="card-content">
                <h3>Biryani</h3>
                <p>Vegeterian Indian Biryani. Taste the art of indian spices.</p>
                <a href="/userreg" class="btn">View Recipe</a>
            </div>
        </div>

        <div class="card">
            <img src="/images/avocado.jpg" alt="Pizza">
            <div class="card-content">
                <h3>Avocado Fish</h3>
                <p>Avocado with salmon and boiled eggs, for gym enthusiasts.</p>
                <a href="/userreg"  class="btn">View Recipe</a>
            </div>
        </div>

        <div class="card">
            <img src="/images/toast.jpg" alt="Pudding">
            <div class="card-content">
                <h3>Avacado Toast</h3>
                <p>Start the morning with an energy packed avacado toast , tasty and easy to make</p>
                <a href="/userreg"  class="btn">View Recipe</a>
            </div>
        </div>
        <div class="card">
            <img src="/images/icecream.jpg" alt="Pudding">
            <div class="card-content">
                <h3>Chocolate Icecream</h3>
                <p>A decadent chocolate icecream for the perfect dessert treat.</p>
                <a href="/userreg"  class="btn">View Recipe</a>
            </div>
        </div>
        <div class="card">
            <img src="/images/chocolatecake.jpg" alt="Pudding">
            <div class="card-content">
                <h3>Chocolate cake</h3>
                <p>A decadent chocolate cake for the perfect dessert treat.</p>
                <a href="/userreg"  class="btn">View Recipe</a>
            </div>
        </div>
        <div class="card">
            <img src="/images/chocomilkshake.jpg" alt="Pudding">
            <div class="card-content">
                <h3>Oreo Choco Milkshake</h3>
                <p>Enjoy the summer days with a quick easy to make oreo chocolate milkshake.</p>
                <a href="/userreg" class="btn">View Recipe</a>
            </div>
        </div>
        <div class="card">
            <img src="/images/kajukatli.jpg" alt="Pudding">
            <div class="card-content">
                <h3>Kaju Katli</h3>
                <p>The sweet choice of India. Usually made and ate during celebrations.</p>
                <a href="/userreg" class="btn">View Recipe</a>
            </div>
        </div>
        <div class="card">
            <img src="/images/italianpasta.jpg" alt="Pudding">
            <div class="card-content">
                <h3>Akhri Pasta</h3>
                <p>Have a pasta with akhri pasta mama mia. The pasta will take you to Italy with just one bite.</p>
                <a href="/userreg" class="btn">View Recipe</a>
            </div>
        </div>
        <div class="card">
            <img src="/images/sandwich.jpg" alt="Pudding">
            <div class="card-content">
                <h3>Burger</h3>
                <p>Enjoy your Sunday brunch with family by making these delicious burgers at home.</p>
                <a href="/userreg"  class="btn">View Recipe</a>
            </div>
        </div>
        
        
    </div>
</section>

 <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <h2>Recipe Hub</h2>
                <p>
                Recipe Hub is a platform to enjoy the richness of taste
                Enjoy the taste of life with Recipe Hub everyday with new and fresh recipes
            </p>
            </div>
            <div class="footer-links">
                <div class="footer-column">
                    <h3>Recipe Hub</h3>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Feedback</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Legal</h3>
                    <ul>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Conditions</a></li>
                        <li><a href="#">Cookies</a></li>
                        <li><a href="#">Copyright</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Follow</h3>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">YouTube</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2020 RecipeHub - All rights reserved</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </footer>
    <script src="/js/slider.js"></script>
</body>

</html>
