<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="user-registration">
    <a href="/" class="back-arrow">&#8592; Back to Home</a>
    <main>
        <form id="loginForm" class="regform" action="/login-verification" method="post">
            <label for="username">UserName:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <label for="usertype">UserType:</label>
            <select id="usertype" name="usertype" required>
                <option value="">Select UserType</option>
                <option value="user">User</option>
                <option value="recipe_owner">Recipe Owner</option>
                <option value="admin">Admin</option>
            </select>

            <input type="submit" value="Login" class="submit-btn">
            <p>Don't have an account? <a href="/userreg">Sign up here</a></p>

        </form> <!-- Added missing closing form tag -->
    </main>
</body>
</html>