<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Recipe Hub</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li class="dropdown">
                    <a href="/recipe">Recipes</a>
                    <div class="dropdown-content">
                        <a href="/favorites">Favorites</a>
                        <a href="/tutorials">Cooking Tutorials</a>
                    </div>
                </li>
                <li><a href="/profile" class="active">Profile</a></li>
                <li><a href="/categories">Categories</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>

    <section class="profile-section">
        <h1>Profile</h1>
        <hr>

        
            <div class="profile-image">
                <img src="./images/profile.jpg" alt="Profile Image" width="200px" height="200px"/>
            </div>

                <button class="btn-change-photo">Change photo</button>
                <button class="btn-delete-photo">Delete</button>
            

            <form action="#" method="POST" class="profileform">
                <div class="form-group">
                    <ul>
                    </ul>
                    <label for="full-name">Full Name</label>
                    <input type="text" id="full-name" placeholder="dhruvin bapu">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" placeholder="eeshan uncle">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="lorus@gmail.com">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="************">
                    <a href="#" class="change-password">Change</a>
                </div>
                <button type="submit" class="btn-save">Save</button>
            </form>
        </div>
    </section>

</body>
</html>
