<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECIPE</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="recipe">
    <form id="recipeform" action="/recipe-submission" method="post" enctype="multipart/form-data">
        <label for="recipename">RecipeName:</label>
        <input type="text" id="recipename" name="recipename" required>

        <label for="ingredients">Ingredients:</label>
        <textarea  id="ingredients" name="ingredients" rows="5" cols="30"required></textarea>

        <label for="recipesteps">RecipeSteps:</label>
        <textarea id="recipesteps" name="recipesteps" rows="5" cols="30" required></textarea>
        
        <label for="nutrition">Nutrition Value:</label>
        <textarea id="nutrition" name="nutrition" rows="5" cols="30" required></textarea>

        <label for="recipecategory">RecipeCategory:</label>
        <select id="recipecategory" name="recipecategory" required>
            <option value="">Select RecipeCategory</option>
            <option value="veg">Veg</option>
            <option value="nonveg">NonVeg</option>
            <option value="vegan">Vegan</option>
            <option value="dessert">Dessert</option>
            <option value="snacks">Snacks</option>
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
        </select>
       <label for="recipephoto">RecipePhoto:</label>
        <input type="file" id="recipephoto" name="recipephoto" accept="image/*">
 
        <input type="submit" value="Post">

    </form>
   

</body>
</html>



